<div class="site-header navbar-fixed">
 <nav class="blue-grey darken-4" data-js="background-animate">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#home" class="new-logo white-text" data-js="gdgLogo">
          <img src="/assets/img/logo_gdglx_horizontal_white.svg" alt="GDG Lisboa"/>
      </a>
      <ul class="right hide-on-med-and-down" aria-label="Menu de navegação principal">
        <li><a href="#work">Iniciativas</a></li>
        <li><a href="#event">Eventos</a></li>
        <li><a href="#team">Equipa</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#work">Iniciativas</a></li>
        <li><a href="#event">Eventos</a></li>
        <li><a href="#team">Equipa</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons" aria-hidden="true">menu</i></a>
    </div>
  </nav>
</div>
