<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="center title-header white-text">Equipa GDG Lisboa</h2>
		</header>
		
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/smithereen" alt="Filipe Barroso">
				</div>
				<div class="card-team">
					<span class="card-title">Filipe Barroso</span>
					<p class="black-text"></p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+filipebarroso1">
						<span class="sr-only">Perfil de Filipe Barroso no Google Plus</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.twitter.com/abarroso">
						<span class="sr-only">Perfil de Filipe Barroso no Twitter</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://www.github.com/smithereen">
						<span class="sr-only">Perfil de Filipe Barroso no Github</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/fmendes6" alt="Filipe Mendes">
				</div>
				<div class="card-team">
					<span class="card-title">Filipe Mendes</span>
					<p class="black-text"></p>
				</div>
				
				<div class="card-team-action center">
					<a href="https://twitter.com/fmendes6">
						<span class="sr-only">Filipe Mendes no Twitter</span>
						<svg class="icon" aria-label="Filipe Mendes no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://www.linkedin.com/in/fmendes6">
						<span class="sr-only">Filipe Mendes LinkedIn</span>
						<svg class="icon" aria-label="Filipe Mendes LinkedIn">
							<use xlink:href="#icon-linkedin-alt"></use>
						</svg>
					</a> 
				</div>
				</div>
			</div>


		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/ines_bras.jpg" alt="Ines Bras">
				</div>
				<div class="card-team">
					<span class="card-title">Inês Braz Gil</span>
					<p class="black-text"></p>
				</div>
				<div class="card-team-action center">
					<!-- Social Links -->
					<a href="https://www.linkedin.com/in/inesarmadabras/">
						<span class="sr-only">Ines Brás LinkedIn</span>
						<svg class="icon" aria-label="Ines Brás LinkedIn">
							<use xlink:href="#icon-linkedin-alt"></use>
						</svg>
					</a> 
				</div>
			</div>
		</div>
	</div>
</section>
