<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="center title-header white-text">Equipa GDG Lisboa</h2>
		</header>
		
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/OldMetalmind" alt="Filipe Barroso">
				</div>
				<div class="card-team">
					<span class="card-title">Filipe Barroso</span>
					<p class="black-text">Várias vezes o chamaram de um esquilo, está sempre online e a construir algo. Encontram-no em vários eventos, nacionais ou internacionais como orador ou participante.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+filipebarroso1">
						<span class="sr-only">Perfil de Filipe Barroso no Google Plus</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.twitter.com/abarroso">
						<span class="sr-only">Perfil de Filipe Barroso no Twitter</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://www.github.com/OldMetalmind">
						<span class="sr-only">Perfil de Filipe Barroso no Github</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/fmendes6" alt="Filipe Mendes">
				</div>
				<div class="card-team">
					<span class="card-title">Filipe Mendes</span>
					<p class="black-text">Se existe alguma notícia de tecnologia o Filipe saberá primeiro. Orador internacional, evangelista de Android e apologista das boas práticas.</p>
				</div>
				
				<div class="card-team-action center">
					<a href="https://twitter.com/fmendes6">
						<span class="sr-only">Filipe Mendes no Twitter</span>
						<svg class="icon" aria-label="Filipe Mendes no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://plus.google.com/+FilipeMendes6">
						<span class="sr-only">Filipe Mendes Google Plus</span>
						<svg class="icon" aria-label="Filipe Mendes Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a> 
				</div>
				</div>
			</div>


		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/ines_bras.jpg" alt="Ines Armada Bras">
				</div>
				<div class="card-team">
					<span class="card-title">Inês Armada Brás</span>
					<p class="black-text">Se há uma força motriz na GDGLx é a Inês, é com ela que contamos em tornar o trabalho realidade. Apaixonada pela partilha de conhecimento que vai muito além da GDG.</p>
				</div>
				<div class="card-team-action center">
					<!-- Social Links -->
					<a href="https://plus.google.com/+In%C3%AAsArmadaBr%C3%A1s">
						<span class="sr-only">Ines Brás Google Plus</span>
						<svg class="icon" aria-label="Ines Brás Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a> 
				</div>
			</div>
		</div>
				<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/danielgek" alt="Daniel Leal">
				</div>
				<div class="card-team">
					<span class="card-title">Daniel Leal</span>
					<p class="black-text">Ele adiciona master ao webmaster. Ele pega em Nativescript e trabalha por 5 e ajuda nos eventos GDG como se fosse 5 pessoas. Realmente Leal o Daniel Leal</p>
				</div>
				<div class="card-team-action center">
					<a href="https://twitter.com/danielgekk">
						<span class="sr-only">Perfil de Daniel Leal no Twitter</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/danielgek">
						<span class="sr-only">Perfil de Daniel Leal no Github</span>
						<svg class="icon" aria-label="Perfil de Filipe Barroso no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="http://previews.123rf.com/images/dphiman/dphiman1407/dphiman140700559/30115405-The-phrase-we-need-you-in-cut-out-magazine-letters-pinned-to-a-cork-notice-board-Stock-Photo.jpg" alt="tu">
				</div>
				<div class="card-team">
					<span class="card-title">É a tua vez</span>
					<p class="black-text">Contamos com várias pessoas para concretizar todas as iniciativas da GDGLx, queres criar um evento Google? Queres simplesmente ajudar? Fala connosco!</p>
				</div>
			</div>
		</div>
	</div>
</section>
