<section id="work" class="section-work">
    <div class="row container">
		<div class="col s12 center">
			<h2 class="title-header white-text">Iniciativas GDG Lisboa</h2>
		</div>

		<div class="col s12">
			<p class="text white-text"> Para ajudar á fortalecer nossa comunidade de desenvolvedores lisboetas, criamos várias iniciativas como: </p>
		</div>

		<div class="row">

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Google DevFest</span>
                        <p class="card-text">Grande conferência anual onde convidamos oradores nacionais e internacionais. Espaço de discussão e partilha de tecnologia Google. O evento tem pelo menos um dia de duração mais de 100 participantes e vai ao encontro da DevFest Seasson organizada pela Google.</p>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Google Hashcode</span>
                        <p class="card-text">Google Hashcode é um concurso mundial de programação, onde as pessoas têm a oportunidade de se debaterem com problemas reais de programação e ganhar grande prémios. A GDGLx todos os anos prepara um hub, um espaço onde podes vir com o teu grupo e participar no concurso.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Tech Talks</span>

                        <p class="card-text">Mensalmente convidamos a comunidade para assistir a uma palestra lisboetas, ouvimos os pedidos da comunidade e organizamos as palestras de acordo, fomentando sempre a partilha de conhecimento.</p>
                    </div>
                </div>
            </div>
            
    </div>
    <div class="row">
            
            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text center" lang="en">Workshops</span>
                        <p class="card-text">Temos um vasto acesso a conteudo educacional ao qual damos uso. Partilhamos a nossa experiência com a comunidade através de workshops.</p>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Coffee with GDG</span>
                        <p class="card-text">Somos loucos por café e strudels. Por essa razão, por vezes convidamos a comunidade para se juntar à GDG para uma conversa casual acompanhado de um café e um strudel. Sempre a um Sábado às 16:00.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Vários</span>
                        <p class="card-text">Estamos sempre a pensar em novas iniciativas e até temos muitas ideias para: Google I/O, Hackatons, Podcasts, Websites ou Produtos. Contacte-nos se estiver interessado em ajudar!</p>
                    </div>
                </div>
            </div>
        </div>
  	</div>
</section>
